@{
    ViewBag.Title = "About Dakota";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior at Ohio University studying Management Information Systems and Business Analytics. I enjoy both music and film and will find any excuse to talk/write about them. This site is used to demo my MVC application development for MIS4200. All lists are of my own opinion.</p>

