@{
    ViewBag.Title = "Dak's Favs - Movie and Album Ratings";
}

<div class="jumbotron">
    <h2>Movie and Album Ratings</h2>
    <p>I enjoy ranking/rating movies and albums that I like or that are popular and then debating with others about them. So I decided to take advantage of the ability to be creative for this class assignment. Compiled lists are my opinions. Enjoy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tarantino Films</h2>
        <p>
            All Quenten Tarantino films ranked from best to worst.
        </p>
        <p><a class="btn btn-default" href="https://www.imdb.com/list/ls090833568/">See full list &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.imdb.com/user/ur28551507/lists?ref_=nv_usr_lst_3">See other film lists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post Malone's new album</h2>
        <p>This record is all over the place. Half of the songs include features, most of them serving no purpose to the overall flow of the album. It seems to me that Posty doesn't really have a grasp of what he wants this album to sound like: he experiments with basic pop and trap beats and only cycles between two different tempos throughout. This can be very distracting at times. It doesn't feel like he's grown as an artist, given the expectations put upon him. 5/10. </p>
        <p><a class="btn btn-default" href="https://www.last.fm/music/Post+Malone">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Radiohead albums</h2>
        <p>All Radiohead records ranked from best to worst (In Rainbows will always be the best).</p>
        <p><a class="btn btn-default" href="https://www.allmusic.com/user/lists/5d756ae70892d64f6b45a167">See List &raquo;</a></p>
    </div>
</div>